body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #231123;
  color: aliceblue;
}
.result-item {
  counter-increment: li;
  font-size: 2rem;
}
.result-item::before {
  content: counter(li);
  color: #ff48c4;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}
.gradient-wrap {
  background-image: radial-gradient(circle, #f3ea5f, #a3f085, #4cecb9, #00e1e5, #2bd1fc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.border-wrap {
  background-image: linear-gradient(to left top, #f3ea5f, #a3f085, #4cecb9, #00e1e5, #2bd1fc);
  width: 80vw;
  height: 80vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#quiz-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #231123;
  justify-content: center;
}
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 3s linear;
}

@keyframes button-colors {
  from {
    border: 3px #f3ea5f solid;
    color: #2bd1fc;
  }
  25% {
    border: 3px #a3f085 solid;
    color: #a3f085;
  }
  50% {
    border: 3px #2bd1fc solid;
    color: #f3ea5f;
  }
  75% {
    border: 3px #a3f085 solid;
    color: #a3f085;
  }
  to {
    border: 3px #f3ea5f solid;
    color: #2bd1fc;
  }
}
@keyframes button-hover {
  from {
    border: 3px #ff3f3f solid;
    color: #33658a;
  }
  25% {
    border: 3px #a756aa solid;
    color: #a756aa;
  }
  50% {
    border: 3px #33658a solid;
    color: #ff3f3f;
  }
  75% {
    border: 3px #a756aa solid;
    color: #a756aa;
  }
  to {
    border: 3px #ff3f3f solid;
    color: #33658a;
  }
}

.better-btn {
  background-color: transparent;
  animation: button-colors 5s linear infinite;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all linear 0.25s;
}
.better-btn:hover {
  background-color: #100007;
  animation: button-hover 5s linear infinite;
  transform: scale(1.1);
}
.no-show {
  display: none;
  transition: all 3s linear;
}
